project_id = "xpgmeejnbjlrctwgsxkk"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[functions.fetch-sheets-data]
verify_jwt = false

[functions.sheets-crud]
verify_jwt = false